@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #11181c;
}

.dark {
  --background: #11181c;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
